<section class="message-container" fxLayout="column nowrap">
  <header>
    <mat-toolbar fxLayoutAlign="start center" color="primary" class="mat-elevation-z2">
      <img class="avatar-img mar-r-1" [src]="addressee?.photoURL || 'assets/img/avatar.jpg'">
      <h2>
        {{addressee?.displayName}}
      </h2>
    </mat-toolbar>
  </header>
  <article fxFlex="1 1 auto" #article>
    <ul>
      <ng-container *ngFor="let message of messages" >
        <li class="mar-t-b-1 sender"
          *ngIf="message.uid === sender.uid; else addresseeView">
          <span fxFlexAlign="end" class="mar-r-1 mat-subheading-1 margin-0">{{message.createdAt | date:'hh:mm'}}</span>
          <span class="content pad-all-1">
            {{message.content}}
          </span>

          <i class="isSend material-icons"
            [ngClass]="{complete: message.createdAt}">done</i>
          <!-- <img class="mar-l-1 avatar-img"
            [src]="sender.photoURL || 'assets/img/avatar.jpg'"
            [matTooltip]="sender.displayName" matTooltipPosition="left"
            alt="sender photo"> -->
        </li>
        <ng-template #addresseeView>
          <li class="mar-all-1 addressee">
            <img class="avatar-img mar-r-1 "
              [src]="addressee.photoURL || 'assets/img/avatar.jpg'"
              alt="addressee photo">
            <span class="content pad-all-1">
              {{message.content}}
            </span>
            <span fxFlexAlign="end" class="mar-l-1 mat-subheading-1 margin-0">{{message.createdAt | date:'hh:mm'}}</span>
          </li>
        </ng-template>
      </ng-container>
    </ul>
  </article>
  <footer class="mat-elevation-z2">
    <form [formGroup]="messageForm" (ngSubmit)="submitMessage()"
      fxLayout="row nowrap"
      fxLayoutAlign="center center">
      <mat-form-field fxFlex="1 1 auto" fxFlexAlign="end">
        <input matInput autocomplete="off"
          formControlName="content"
          placeholder="{{sender?.email}}想說什麼呢？"
          >
      </mat-form-field>
      <div class="t-al-c">
        <button mat-raised-button color="primary">送出</button>
      </div>
    </form>
  </footer>
</section>


<!-- matTextareaAutosize
          matAutosizeMaxRows="5" -->
