@import '~common/css/_my-theme.variable.scss';
.message-container {
  position: relative;
  height: 100%;
  header {
    z-index: 2;
  }
  article {
    overflow: auto;
    li {
      display: flex;
      align-items: center;
      &.sender {
        justify-content: flex-end;
        .content {
          background-color: #2095FE;
          color: #fff;
        }
        .isSend {
          display: inline-block;
          margin: 0 10px 0 5px;
          border-radius: app-border-radius(cycle);
          border: 2px solid app-color(accent);
          align-self: flex-end;
          font-size: 10px;
          background: white;
          color: white;
          &.complete {
            background: app-color(accent);
          }
        }
      }
      &.addressee {
        .content {
          background-color: #E5E4E9;
          color: #363636;
        }
      }
      .content {
        border-radius: app-border-radius(square);
        word-break: break-all;
        white-space: pre-wrap;
      }
    }
  }
  .block {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: app-color(accent, 0.3);
    z-index: 3;
  }
  &.drop {
    .block {
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }
  }
}
