@import '~common/css/_my-theme.variable.scss';
.message-container {
  position: relative;
  height: 100%;
  article {
    overflow: auto;
    li {
      display: flex;
      align-items: center;
      &.sender {
        justify-content: flex-end;
        .content{
          border-radius: app-border-radius(square);
          background-color: #2095FE;
          color: #fff;
        }
      }
      &.addressee {
        .content{
          border-radius: app-border-radius(square);
          background-color: #E5E4E9;
          color: #363636;
        }
      }
    }
  }
  footer {
    border-top: 1px solid grey;
    width: 100%;
    box-sizing: border-box;
  }
}
