<mat-drawer-container fxFlexFill cdkTrapFocus>
  <mat-drawer mode="side" opened="true" fxLayout="column" class="bg-accent mat-elevation-z2">


    <mat-nav-list fxFlexOrder="3">
      <a mat-list-item [routerLink]="['/']">
        <mat-icon aria-label="home" class="c-white">keyboard_return</mat-icon>
      </a>
    </mat-nav-list>

    <span class="fill-remaining-space" fxFlexOrder="2"></span>

    <mat-nav-list fxFlexOrder="1">
      <a mat-list-item *ngFor="let menu of menus"
        [routerLink]="menu.url"
        routerLinkActive="bg-white active">
        <mat-icon [attr.aria-label]="menu.title" class="c-white">{{menu.icon}}</mat-icon>
      </a>
    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
