<button (click)="getAll()">取全部</button>
<button (click)="getAll(1)">取1筆</button>
<button (click)="getAll(2)">取2筆</button>
<button (click)="getAll(3)">取3筆</button>
<button (click)="getAll(4)">取4筆</button>
<button (click)="getAll(5)">取5筆</button>
<button (click)="getAll(6)">取6筆</button>
<button (click)="getAll(7)">取7筆</button>
<button (click)="getAll(8)">取8筆</button>
<button (click)="last('asc')">最前兩筆</button>
<button (click)="last('desc')">最後兩筆</button>
<button (click)="multiOrder()">排序內容在排序時間</button>

<ul>
  <li *ngFor="let message of messages$ | async">
    <ng-container *ngIf="!message.update; else update">
      <span>{{message.content}}</span><span>({{message.updatedAt | date:'yyyy-MM-dd hh:mm:ss'}})</span>
    </ng-container>
    <ng-template #update>
      <input type="text" [value]="message.content" #updateInput>
      <button (click)="updateItem(message, updateInput.value)">ok</button>
    </ng-template>

    <button (click)="delete(message)">delete</button>
    <button (click)="updateItem(message)">update</button>
    <button (click)="handler(message.doc, 'endAt')"> <= </button>
    <button (click)="handler(message.doc, 'endBefore')"> < </button>
    <button (click)="select(message.id)"> == </button>
    <button (click)="handler(message.doc, 'startAt')"> >= </button>
    <button (click)="handler(message.doc, 'startAfter')"> > </button>
  </li>
</ul>

<form [formGroup]="myForm" (ngSubmit)="add()">
  <input type="text" formControlName="content">
  <button>送出</button>
</form>
