<mat-drawer-container fxFlexFill>
  <mat-drawer mode="side" opened="true" style="width:200px" class="mat-elevation-z2">
    <mat-nav-list>
      <ng-container *ngFor="let room of rooms$ | async">
        <a mat-list-item *ngIf="room.type === 1 && _message.friendsObj[room.id] as user"
          [routerLink]="[room.roomId, room.id]"
          routerLinkActive="active">
          <img matListAvatar [src]="user.photoURL | safe: 'url'" />
          <p matLine>{{ user.displayName }}</p>
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
