<mat-drawer-container fxFlexFill>
  <mat-drawer #roomList mode="side" opened="true" style="width:300px" class="mat-elevation-z2"
    [ngStyle.lt-sm]="{ 'width': '100%' }">

    <mat-toolbar color="accent" fxLayoutAlign="end center" fxLayout="row nowrap">
      <app-seach-input fxFlex="1 1 100%" class="display-flex"
        (submit)="searchRoom($event)"
        (clear)="reset()">
      </app-seach-input>
      <span class="fill-remaining-space"></span>
      <button fxHide fxShow.lt-sm mat-icon-button (click)="roomList.close()">
        <mat-icon class="c-white">keyboard_arrow_left</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <ng-container *ngFor="let room of rooms">
        <a mat-list-item *ngIf="room.type === 1 && _message.friendsObj[room.id] as user"
          (click)="toggleList()"
          [routerLink]="[room.roomId, room.id]"
          routerLinkActive="nomal-active">
          <img matListAvatar [src]="user.photoURL | safe: 'url'" />
          <h2 mat-line>
            {{user.displayName}}
            <i class="online-cycle f-r" [ngClass]="{active: user.loginStatus}"></i>
          </h2>
          <p mat-line class="c-grey">
            <span *ngIf="_auth.user.id === room.last.sender; else sender">you</span>
            <ng-template #sender>
              <span>{{_message.friendsObj[room.last.sender].displayName}}</span>
            </ng-template>
            :
            <ng-container [ngSwitch]="room.last.type">
              <span *ngSwitchCase="'file'">送出了一個圖片</span>
              <span *ngSwitchDefault>{{room.last.content}}</span>
            </ng-container>
          </p>
        </a>
      </ng-container>
    </mat-nav-list>
    <mat-list *ngIf="!rooms || rooms.length === 0">
      <mat-list-item>
        沒有對話<mat-icon class="pad-l-1">sentiment_neutral</mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
