<prettyjson [obj]="_auth.user$ | async"></prettyjson>
<form [formGroup]="signupForm" (ngSubmit)="signup()">

  <ul>
    <li>
      <label for="email">信箱：</label>
      <input type="email" class="input" [class.is-danger]="email.invalid && email.dirty" formControlName="email" required autocomplete="off">

      <div *ngIf="email.invalid && email.dirty" class="notification is-danger">
        信箱格式不正確
      </div>

    </li>
    <li>
      <label for="password">密碼：</label>
      <input type="password" class="input" [class.is-danger]="password.invalid && password.touched" formControlName="password"
        required>
      <div *ngIf="password.invalid && password.dirty" class="notification is-danger">
        密碼必須大於六碼，並且最少有一個數字
      </div>
    </li>
  </ul>

  <div *ngIf="signupForm.valid" class="notification is-success">看起來很不錯喔！可以送出了！</div>

  <button (click)="signIn()" [disabled]="!signupForm.valid">信箱登入</button>
  <button [disabled]="!signupForm.valid">註冊</button>
</form>

<button (click)="signInGoogle()">Google登入</button>
<button (click)="signOut()">登出</button>
<button (click)="resetPassword()">重新設置密碼</button>
