<ul>
  <li>
    <button mat-button class="width-full fb-button" (click)="signInUpByFacebook()">
      <i class="icon-facebook c-white md-size-2"></i>
      <span class="c-white">使用Facebook註冊</span>
    </button>
  </li>
  <li class="mar-t-1">
    <button mat-button class="width-full google-button" (click)="signInUpByGoogle()">
      <i class="icon-google c-white md-size-2"></i>
      <span class="c-white">使用Google註冊</span>
    </button>
  </li>
  <li class="mar-t-1">
    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <mat-form-field class="width-full" required>
        <mat-label>
          信箱
          <i class="c-red">*</i>
        </mat-label>
        <input matInput type="email" placeholder="輸入信箱地址" formControlName="email">
        <mat-error *ngIf="email.invalid && email.touched">信箱格式不正確</mat-error>
      </mat-form-field>
      <mat-form-field class="width-full" required>
        <mat-label>
          密碼
          <i class="c-red">*</i>
        </mat-label>
        <input matInput type="password" placeholder="密碼必須大於六碼，並且最少有一個數字" formControlName="password">
        <mat-error *ngIf="password.invalid && password.touched">
          密碼必須大於六碼，並且最少有一個數字
        </mat-error>
      </mat-form-field>
      <mat-form-field class="width-full" required>
        <mat-label>
          姓名
          <i class="c-red">*</i>
        </mat-label>
        <input matInput type="text" placeholder="打一個喜歡的名子" formControlName="name">
        <mat-error *ngIf="name.invalid && name.touched">
          打一個名子好嗎QQ
        </mat-error>
      </mat-form-field>

      <div *ngIf="signupForm.valid" class="notification is-success">看起來很不錯喔！可以送出了！</div>

      <button mat-raised-button color="primary" class="width-full">註冊</button>
    </form>
  </li>
</ul>
