@import '~common/css/_my-theme.variable.scss';
@mixin loading-overlay() {
  .loader-wrap {
    display: flex;
    pointer-events: all;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: mat-color($app-primary, 0.3);
    .loader {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      border-radius: app-border-radius(square);
      .loading-text {
        @include mat-typography-level-to-styles($app-typgography, title);
      }
      .load-9 {
        .spinner {
          animation: loadingI 3s linear infinite;
        }
        .bubble-1,
        .bubble-2,
        .bubble-3,
        .bubble-4 {
          animation: bounce 2s ease-in-out infinite;
        }
        .bubble-2 {
          animation-delay: -1.0s;
        }
        .bubble-3 {
          animation-delay: -2.0s;
        }
        .bubble-4 {
          animation-delay: -3.0s;
        }
      }
    }
  }
  .spinner {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }
  .bubble-1,
  .bubble-2,
  .bubble-3,
  .bubble-4 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: app-border-radius(cycle);
    background-color: mat-color($app-accent);
  }
  .bubble-2 {
    top: auto;
    bottom: 0;
  }
  .bubble-3 {
    top: auto;
    bottom: 0;
    right: 0;
  }
  .bubble-4 {
    top: 0;
    bottom: auto;
    right: 0;
  }
  @keyframes loadingI {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: scale(0.0);
    }
    50% {
      transform: scale(1.0);
    }
  }
}
