@import '~common/css/material/_md-icon-align.scss';
@import '../_my-theme.variable.scss';
$app-form-primary: mat-palette($mat-green, 800);
$app-form-accent:mat-palette($mat-grey, 900);
$app-form-warn:mat-palette($mat-red, 500);
$app-form-theme:mat-light-theme($app-form-primary, $app-form-accent, $app-form-warn);
@mixin my-material() {
  @include md-icon-align(5);

  @include mat-core($app-typgography);
  @include mat-core-theme($app-form-theme);
  @include mat-button-theme($app-theme);
  @include mat-card-theme($app-theme);
  @include mat-list-theme($app-theme);
  @include mat-sidenav-theme($app-theme);
  @include mat-toolbar-theme($app-theme);
  @include mat-progress-spinner-theme($app-theme);
  @include mat-form-field-theme($app-form-theme);
  @include mat-menu-theme($app-form-theme);
  @include mat-input-theme($app-form-theme);
  @include mat-select-theme($app-form-theme); // @include mat-autocomplete-theme($app-theme);
  // @include mat-button-toggle-theme($app-theme);
  // @include mat-checkbox-theme($app-theme);
  // @include mat-chips-theme($app-theme);
  // @include mat-table-theme($app-theme);
  // @include mat-datepicker-theme($app-theme);
  // @include mat-dialog-theme($app-theme);
  // @include mat-expansion-panel-theme($app-theme);
  // @include mat-grid-list-theme($app-theme);
  // @include mat-icon-theme($app-theme);
  // @include mat-paginator-theme($app-theme);
  // @include mat-progress-bar-theme($app-theme);
  // @include mat-radio-theme($app-theme);
  // @include mat-slide-toggle-theme($app-theme);
  // @include mat-slider-theme($app-theme);
  // @include mat-stepper-theme($app-theme);
  @include mat-tabs-theme($app-theme);
  // @include mat-tooltip-theme($app-theme);
  // @include mat-snack-bar-theme($app-theme);
}
