/* You can add global styles to this file, and also import other style files */
@import 'assets/font/icomoon/style.css';

@import '~common/css/normalize.css';
@import '~common/css/_my-theme.variable.scss';
@import '~common/css/material/_my-material.theme.scss';
@include my-material();

@import '~common/css/component/index.scss';
@import '~common/css/general/index.scss';
// set global typgography, and box-sizing
* {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: mat-font-family($app-typgography);
  background: $app-main-background;
}

// cancel all ul li original style
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    list-style: none;
    display: block;
  }
}

a {
  text-decoration: none;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.cursor-pointer {
  cursor: pointer;
}

.transition {
  transition: all .195s cubic-bezier(0.4, 0.0, 1, 1);
}

.transition-long {
  transition: all .295s cubic-bezier(0.4, 0.0, 1, 1);
}

.cycle-img {
  border-radius: app-border-radius(cycle);
  overflow: hidden;
}
.margin-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.margin-top {
  margin-top: 0.5em;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.fb-button {
  background: #234ca2;
}

.google-button {
  background: #dd4b39
}
